<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>My test page</title>
  </head>
  <body>
    <h1>{{ album.title }}</h1>
    <ul>
    {% for photograph in album.photograph_set.all %}
        <li>Name: {{ photograph.name }}</li>
        <li>Description: {{ photograph.description }}</li>
        <li>Created: {{ photograph.creation_date }}</li>

        <li><img src="/{{photograph.photo}}" alt="Album Image" height="280" width="420"/></li>
        <br>
    {% endfor %}
    </ul>
  </body>
</html>