{% extends 'gallery/base.html' %}

<!-- ALBUM IMAGES -->
{% block content %}
    <nav   aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'gallery:index' %}">Albums</a></li>
        <li class="breadcrumb-item active" aria-current="page">{{ album.title }}</li>
      </ol>
    </nav>
    <header>
      <h1>{{album.title}}</h1>
    </header>
    <!-- {% if photo_list %} -->
      <ul class="images-container">
        {% for photograph in album.photograph_set.all %}
        <li class="thumbnail">
          <a href="{% url 'gallery:photo_detail' album.id photograph.id %}">
            <div class="image-detail">
              <h4>{{ photograph.name }}</h4>
              <p>Description: {{ photograph.description }}</p>
              <p>Taken: {{ photograph.creation_date }}</p>
            </div>
            <img class="image" src="/media/{{photograph.photo}}" alt="Album Image" />
          </a>
        </li>
        <br>
        {% endfor %}
        <li></li>
      </ul>
    <!-- {% else %}
      <p>No photos are available.</p>
    {% endif %} -->
{% endblock %}  