{% extends 'gallery/base.html' %}
{% load thumbnail %}
<!-- ALBUMS -->
{% block content %}
  <header class="block-content-item">
    <h1>Albums</h1>
  </header>
  {% if album_list %}
    <ul class="block-content-item images-container">
    {% for album in album_list %}
      <li class="thumbnail">
        <a href="{% url 'gallery:album_detail' album.id %}">
            <div class="image-detail">
              <h4>{{ album.title }}</h4>
              <!-- <h6>{{ album.description }}</h6> -->
            </div>
            <img class="image" src="{{album.thumbnail.url}}" alt="Album Thumbnail"  />
            <!-- <img class="image" src="{% thumbnail album.thumbnail '1920' as im %}{{ im.url }}{% endthumbnail %}" alt="Album Thumbnail"  /> -->
        </a>
      </li>
        <!-- <br> -->
    {% endfor %}
    <!--Note: add more <li></li> if -->
    <li></li>

    </ul>
  {% else %}
      <p>No albums are available.</p>
  {% endif %}
 
{% endblock %}
