* {
  margin: 0;
  padding: 0;
}
.root {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}
.flex-column-item{
  flex-grow: 1;
}

a, a:visited, a:link, a:active {
  text-decoration: none;
  color:white
}
ul {
  list-style: none;
}

/* Navbar and Footer */

footer, .navbar{
  background: #000000;
  color:white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2.5em;
}

/* Navbar */

nav .nav-item:hover {
  border: 1px solid white;
}
.navbar-brand{
  padding: 0;
  margin: 0;
  color: white;
}
.nav-link{
  padding:0;
}
.nav-item {
  padding: 0.5em 0.5em;
}


/* Block Content */

.block-content {
  display: flex;
  flex-direction: column;
  padding: 2.5em;
  background: rgb(238,174,202);
  background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
}
.block-content a, .block-content a:visited, .block-content a:link, .block-content a:active {
  color:black;
}
.block-content-item {
  flex-grow:1;
}
.block-content-item * {
  margin: 0;
  padding: 0;
}
.block-content header{
  align-self: center;
}


/* Breadcrumb */

.breadcrumb {
  background: none !important;
  margin: 0;
  padding: 0;
}
.breadcrumb-item a:visited, .breadcrumb-item a:link, .breadcrumb-item a:active {
  color: #1d1d1d;
}
.breadcrumb-item a{
  padding: 0.5em 0.5em;
}
.breadcrumb-item a:hover{
  border: 1px solid black;
}

/* Images Container */

.images-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  flex-wrap: wrap;
  flex-basis: auto;
  justify-content: space-between;
  margin:0;
}
.images-container li {
  list-style: none;
  height: 40vh;
  flex-grow: 1;
}
.images-container li:last-child {
  flex-grow: 10;
}

/* Thumbnails inside Images Container*/

.thumbnail {
  padding: 0px;
  margin: 15px 5px 10px 5px;
  background: #ffffff;
  position: relative; /*imporant for picture size*/
  display: flex;
  align-items: flex-end;
  transition: .6s ease-out;
  box-shadow: 0 10px 10px rgba(0,0,0,0.5);
}
.thumbnail:hover {
  transform: translateY(-15px);
}
.thumbnail:hover:before {
  opacity: 1;
}
.thumbnail:hover .image-detail {
  opacity: 1;
  transform: translateY(0);
}
.thumbnail:before {
  content:'';
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width:100%;
  height:100%;
  background:linear-gradient(to bottom, #000,transparent);
  z-index: 2;
  transition: 0.5s;
  opacity: 0;
}
.thumbnail a{
  padding:24px;
  width:100%;
  height:100%;
}
/*this shrinks the size of the images*/
.thumbnail img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  max-height: 100%;
  min-width: 100%;
  object-fit: cover;
  vertical-align: bottom;
}
.thumbnail .image-detail{
  position: relative;
  z-index: 3;
  color: #fff;
  opacity: 0;
  transform: translateY(60px);
  transition: 0.5s;
}
.image-detail {
  width: 100%;
  height: 100%;
}

/* Footer */

.ft-info{
  display:flex;
  flex-direction: column;
  justify-content: space-between;
}
.ft-info a {
  padding: 0.5em 0.5em;
  margin: 0;
}
.ft-info a:hover {
  border: 1px solid white;
}
.ft-social-list {
  display:flex;
  justify-content: space-between;
  margin:0;
}
.ft-social-list li {
  padding: 0.5em 0.5em;
}
.ft-social-list li:hover {
  border: 1px solid white;
}


/* Portrait */
@media (max-aspect-ratio: 1/1) {
  li {
    height: 30vh;
  }
}

/* Short screens */
@media (max-height: 480px) {
  li {
    height: 80vh;
  }
}

/* Smaller screens in portrait */
@media (max-aspect-ratio: 1/1) and (max-width: 480px) {
  ul {
    flex-direction: row;
  }

  li {
    height: auto;
    width: 100%;
  }
  .thumbnail img {
    width: 100%;
    max-height: 75vh;
    min-width: 0;
  }
}


/*
ul{
  list-style: none;
  padding-left: 0;
  display: flex;
  flex-wrap: wrap;
}

.photoreel{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
   overflow-x: auto;
}
.photoreel img {
  flex: 0 0 auto;
} */


/* Portrait */
/* @media (max-aspect-ratio: 1/1) {
  li {
    height: 30vh;
  }
} */

/* Short screens */
/* @media (max-height: 480px) {
  li {
    height: 80vh;
  }
} */

/* Smaller screens in portrait */
/* @media (max-aspect-ratio: 1/1) and (max-width: 480px) {
  ul {
    flex-direction: row;
  }

  li {
    height: auto;
    width: 100%;
  }
  .thumbnail img {
    width: 100%;
    max-height: 75vh;
    min-width: 0;
  }
} */